@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<UmbracoProjekt.Models.Form>

@{
    Layout = "_Layout";
    ViewData["Title"] = "All forms";
}

<h1>Forms</h1>
@foreach (var form in Model)
{
    <h4>Form number: @form.Id</h4>
    <p>First name: @form.FirstName</p>
    <p>Last name: @form.LastName</p>
    <p>Email adress: @form.EmailAdress</p>
    <p>Serial number: @form.SerialNumber</p>
}